{
  "auth_uri": "https://{{OKTA_DOMAIN}}/oauth2/default/v1/authorize",
  "client_id": "{{CLIENT_ID}}",
  "client_secret": "{{CLIENT_SECRET}}",
  "redirect_uri": "https://{{YOUR_DOMAIN}}/authorization-code/callback",
  "login_uri": "https://{{YOUR_DOMAIN}}/login",
  "issuer": "https://{{OKTA_DOMAIN}}/oauth2/default",
  "token_uri": "https://{{OKTA_DOMAIN}}/oauth2/default/v1/token",
  "userinfo_uri": "https://{{OKTA_DOMAIN}}/oauth2/default/v1/userinfo",
  "SECRET_KEY": "{{THIS_IS_A_SECRET}}",
  "management_port": 50123
}
